.playerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    h1 {
        position: absolute;
        top: 10px;
        font-size: 4.7vw;
        margin: 0 0 20px 0;
    }

    .players {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
        font-size: 2vw;
        font-weight: 600;

        .dice {
            padding: 10px 20px;
            font-size: 1.3rem;
            background-color: transparent;
            border: 3px solid #FF0000;
            border-radius: 10px;
            cursor: pointer;
            animation: border 2s infinite alternate ease-in-out;
            color: #a1a1a1;
        }
    }

    .buttons {
        display: flex;
        flex-direction: column;

        button {
            padding: 10px 20px;
            font-size: 1.3rem;
            background-color: transparent;
            border: 3px solid #FF0000;
            border-radius: 10px;
            cursor: pointer;
            animation: border 2s infinite alternate ease-in-out;
            color: #a1a1a1;

            .link {
                text-decoration: none;
                color: #a1a1a1;
            }

            &:hover {
                background-color: #464646;
            }
        }

        button:nth-child(1) {
            position: absolute;
            top: 10px;
            left: 10px;
        }

        button:nth-child(2) {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }
}

.navLinks {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    h1 {
        font-size: 3vw;
        margin: 0 0 50px 0;
        text-transform: uppercase;
        font-weight: 900;
    }

    ul {
        display: flex;
        list-style: none;
        justify-content: center;

        li {
            padding: 10px 20px;
            font-size: 1.3rem;
            background-color: transparent;
            border: 3px solid #FF0000;
            border-radius: 10px;
            cursor: pointer;
            animation: border 2s infinite alternate ease-in-out;
            color: #a1a1a1;
            margin: 0 10px 0 0;

            .link {
                text-decoration: none;
                color: #a1a1a1;
            }

            &:hover {
                background-color: #464646;
            }
        }
    }
}

@keyframes border {
    10% {
        border: 3px solid #0000FF;
    }

    20% {
        border: 3px solid #00FF00;
    }

    30% {
        border: 3px solid #FFFF00;
    }

    40% {
        border: 3px solid #800080;
    }

    50% {
        border: 3px solid #FFA500;
    }

    60% {
        border: 3px solid #FFC0CB;
    }

    70% {
        border: 3px solid #A52A2A;
    }

    80% {
        border: 3px solid #808080;
    }

    90% {
        border: 3px solid #008080;
    }
}