.diceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .dice {
        width: 75px;
        height: 75px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
        border: 1px solid black;
        border-radius: 5px;

        .diceNumber {
            width: 100%;
            text-align: center;
        }
    }

    button {
        padding: 10px 20px;
        font-size: 1.3rem;
        background-color: transparent;
        border: 3px solid #FF0000;
        border-radius: 10px;
        cursor: pointer;
        animation: border 2s infinite alternate ease-in-out;
        color: #a1a1a1;
        margin: 10px 0 0 0;

        &:hover {
            background-color: #464646;
        }
    }
}

@keyframes border {
    10% {
        border: 3px solid #0000FF;
    }

    20% {
        border: 3px solid #00FF00;
    }

    30% {
        border: 3px solid #FFFF00;
    }

    40% {
        border: 3px solid #800080;
    }

    50% {
        border: 3px solid #FFA500;
    }

    60% {
        border: 3px solid #FFC0CB;
    }

    70% {
        border: 3px solid #A52A2A;
    }

    80% {
        border: 3px solid #808080;
    }

    90% {
        border: 3px solid #008080;
    }
}